* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px
}

.nav-logo {
    height: 30px;
    margin-right: 7px;
}

.nav-title {
    margin: 0;
}

.nav-title-main {
    margin-right: auto;
    color: #61DAFB;
    font-size: 22px;
}

.nav-title-sub {
    color: #DEEBF8;
    font-weight: 600;
}

main {
    padding: 55px 25px;
    color: white;
    background-image: url(./images/reactjs-logo-large.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.main-title {
    margin: 0;
    font-size: 40px;
    letter-spacing: -0.05em;
}

.main-facts {
    margin-top: 45px;
}

.main-facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main-facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}